site_name="Digital Strike Theme"
site_slug="strike-theme"
admin_name="digitalstrike"
admin_password="mFZQ5jYP"

db_host="127.0.0.1"
db_port="3306"
db_name="strike_theme"
db_user="root"
db_password=""
db_prefix="wp_"
