.footer-navigation {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: $tiny;
    position: relative;

    &:not(:last-of-type)::after {
      content: "\00007c";
      display: block;
      position: absolute;
      top: 50%;
      right: -2px;
      transform: translateY(-50%);
    }
  }

  a {
    color: $white;
    text-decoration: none;
    font-size: $small;

    &:hover {
      color: $primary-color;
    }
  }
}
