.nav-primary {
  padding: 0;
  background: transparent;

  .menu-item {
    a {
      color: $body-font-color;
      font-weight: normal;
      font-family: $header-font-family;
      text-transform: uppercase;
      letter-spacing: 0.15em;
      padding: $large $small;

      &:hover {
        color: $primary-color;
      }
    }

    &.active {
      > a {
        color: $primary-color;
        background: transparent;
      }
    }

    &.menu-item-has-children {
      position: relative;

      > .submenu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        background: $white;
        display: none;

        .menu-item {
          border: 0;
          min-width: 100%;
          width: auto;
          flex: 1;

          a {
            color: $body-font-color;
            width: 100%;
            white-space: nowrap;
            padding: $normal $x-jumbo;

            &:hover {
              color: $primary-color;
            }
          }

          > .submenu {
            left: 100%;
            top: 0;
            width: 100%;
            border-left: 1px solid $white;
          }
        }
      }

      &:hover {
        > .submenu {
          display: flex;
        }
      }
    }
  }
}

.svg-logo {
  height: 100%;

  svg {
    height: 100%;
  }
}
