.banner {
  box-shadow: 0 1px 8px rgba(51, 51, 51, 0.15);
  background-color: $white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 5.96rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  z-index: 10000;

  > .grid-container {
    margin: auto;
    width: 100%;
  }

  .site-brand {
    position: relative;

    &__logo {
      position: absolute;
      width: auto;
      height: 9.313rem;
      top: -1.25rem;
      padding: 0 $large $normal;

      img {
        width: 100%;
        height: auto;
        min-height: 100%;
        filter: drop-shadow(0 2px 8px rgba(51, 51, 51, 0.05));
      }
    }

    .svg-logo {
      display: block;
      filter: drop-shadow(0 2px 8px rgba(51, 51, 51, 0.05));
    }
  }

  .nav-wrap {
    padding-right: 0;
  }

  .nav-container {
    padding-right: 0;
  }

  .nav {
    @extend .menu;

    flex-flow: row nowrap;
  }
}
